#
# dotphiles : https://github.com/dotphiles/dotphiles
#
# Git submodules in this repo
#
# Authors:
#   Ben O'Hara <bohara@gmail.com>
#

[submodule "dotsync"]
	path = dotsync
	url = https://github.com/dotphiles/dotsync.git
[submodule "zsh/dotzsh"]
	path = zsh/dotzsh
	url = https://github.com/dotphiles/dotzsh.git
[submodule "vim/dotvim"]
	path = vim/dotvim
	url = https://github.com/dotphiles/dotvim.git
[submodule ".dotfiles/vim/dotvim/bundle/vim-snippets/UltiSnips"]
	path = .dotfiles/vim/dotvim/bundle/vim-snippets/UltiSnips
	url = git@github.com:matthewsimo/angular-vim-snippets.git
